<form method="post" action="/posts">
  Name: <input type="text" name="name" id="name">
  Content: <input type="text" name="content" id="content">
  <input type="submit" name="submit" id="submit">
</form>
